## Auto generated providers.tf ##
## Updated on: {{ timestamp }} ##

provider "aws" {
  region = "{{ provider_region }}"
  assume_role {
    role_arn    = "arn:aws:iam::422185157735:role/tfe-oidc"
  }
  default_tags {
    tags = {
      managed_by                  = "AFT"
    }
  }
}
