## Auto generated providers.tf ##
## Updated on: {{ timestamp }} ##

provider "tfe" {
 hostname = "app.terraform.io"
 token    = data.aws_secretsmanager_secret_version.tfe_token_secret.secret_string
}


data "aws_secretsmanager_secret_version" "tfe_token_secret" {
 secret_id = "/aft/config/terraform/token"
}